<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ wp_mysql_db }}');

/** MySQL database username */
define('DB_USER', '{{ wp_mysql_user }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ wp_mysql_password }}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8mb4');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '{-$ZnOjgfi[~NTrTxvo(LiT$90=!NT|]=a=let+=00QDa{Z~%]`TGQIBU-H|Yh<|');
define('SECURE_AUTH_KEY',  'qy@XB6w3UN^Hm_`%u|tVAR3P8|=.:j?%4W|FeQcdZQ4-E0}B>LjH[9LHMC8BIUH*');
define('LOGGED_IN_KEY',    '$=3w36/1rf2KpWmn}ESI/Wo]Jo%M;x|hxb&GU4 4PA-5e g-<hOBV7jwCb#GLAZ]');
define('NONCE_KEY',        'jvHYH&8;7Bh7k_9oW$5s9Xh;N+wmhpscjpYZGQiY~X)8-4E`#B,PZ~OlV~`CHU[u');
define('AUTH_SALT',        '.ZqUe?bl.J]!<l-$r;Dj]1Oh>f2KNdp}}jA:Bj;v h*5e g-y=_*2@Zg4+!m-hA?');
define('SECURE_AUTH_SALT', 'Xos`pb1C(|C.}or}~!5XLT+LL T7+l]C|w5UbsvVNclWo|uz 0PF`G6AIH*rSw>l');
define('LOGGED_IN_SALT',   'X]w?>56E!u<8)m0Vn5iWz,A)3gcnhuBC1/[NW4hKFW#9t&:+|#s9aL4kJnLI[g^O');
define('NONCE_SALT',       '+{<W}qe|rl,OO#B{9Ji|yrlBK=$MweY9Zdbgr~E{$=#Dx[=^>3k/7JpuV8p,}%J}');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
    define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
